In [1]:
""" 
# ALURA - Desafio: 7DaysOfCode
#
# Dia 2 
# Alterar tipagem da coluna [matricula_e_siape]
# Exclusão da coluna [registro_sistema]
# Crição uma nova coluna com os valores da localização, para refletir a respectiva classe geral na CDU.
"""
import pandas as pd
import os

_strDB_CDU        = 'DB_CDU'
_strDB_Emprestimo = 'DB_Emprestimo_Tratado'
_strDB_Tratado_2  = 'DB_Emprestimo_Tratado_2'
_strExtArquivo    = '.csv'
_strPathData      = r'D:\Users\rtoni\OneDrive\Git-Dados\Projetos\7DaysOfCode.io'

In [2]:
""" 
# Carga dos Dados para os DataFrames
# Demonstra informações dados do Cadastro de Livros
"""
_strPathFile = os.path.join(_strPathData, _strDB_Emprestimo + _strExtArquivo)
df_Emprestimo_Tratado_2 = pd.read_csv(_strPathFile, sep=';', engine='c')

_strPathFile = os.path.join(_strPathData, _strDB_CDU + _strExtArquivo)
df_CDU = pd.read_csv(_strPathFile, sep=';', engine='c')

df_Emprestimo_Tratado_2.info()
df_Emprestimo_Tratado_2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072522 entries, 0 to 2072521
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  registro_sistema      int64
dtypes: float64(1), int64(4), object(8)
memory usage: 205.6+ MB

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010-02-11 11:16:30.335,2010-03-04 08:54:32.262,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010-03-17 09:08:26.874,2010-03-04 13:36:26.599,2010-03-31 18:04:29.669,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009

In [3]:
""" 
# Alterar tipagem da coluna [matricula_e_siape]
# Exclusão da coluna [registro_sistema]
"""
df_Emprestimo_Tratado_2['matricula_ou_siape'] = df_Emprestimo_Tratado_2['matricula_ou_siape'].astype(str)
df_Emprestimo_Tratado_2.drop(columns='registro_sistema')

df_Emprestimo_Tratado_2.info()
df_Emprestimo_Tratado_2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072522 entries, 0 to 2072521
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    object
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  registro_sistema      int64
dtypes: int64(4), object(9)
memory usage: 205.6+ MB

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010-02-11 11:16:30.335,2010-03-04 08:54:32.262,2008050352.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010-03-17 09:08:26.874,2010-03-04 13:36:26.599,2010-03-31 18:04:29.669,200722565.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009

In [4]:
df_CDU.info()
df_CDU.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_FaixaCDU     10 non-null     int64
 1   Inicio_Faixa    10 non-null     int64
 2   Limite_Faixa    10 non-null     int64
 3   Nome_Faixa_CDU  10 non-null     object
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes

,ID_FaixaCDU,Inicio_Faixa,Limite_Faixa,Nome_Faixa_CDU
0,1,0,99,Generalidades. Ciência e conhecimento
1,2,100,199,Filosofia e psicologia.
2,3,200,299,Religião.
3,4,300,399,Ciências sociais.
4,5,400,499,Classe vaga. Provisoriamente não ocupada.